<section class="hero-section section mt-5">
  <div class="container text-center mt-4">
    <div class="historia text-center bg-light">
      <br>
      <h1 class="display-3">Welcome to Riders MotoGP</h1><br>
      <p class="lead">Discover the magic of the wonderful world of MotoGP and its riders!</p>
    </div>
  </div>
  <!-- Add any call-to-action buttons or elements here -->
  <img class="img-thumbnail rounded mx-auto d-block align-item-center mt-5" src="/images/back10.jpeg" alt="img-back" />
  <!--
    <iframe width="560" height="315" src="https://www.youtube.com/embed/99ocajPVs0U?si=cz5oOtUVTmGziNjB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    -->
</section>