 <form action="/comments/{{rider._id}}/create" method="POST">
      <div class="mb-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea class="form-control" name="content" id="comment" rows="3" required></textarea>
      </div>
      <button type="submit" class="btn btn-success">Comment</button>
    </form>