<div class="profile-page">
  <div class="container profile-container">

    <div>
      <img class="profile-image" src={{currentUser.picture}} alt="Profile Image" width="200">
    </div>

    <div>
      <h3 class="text-right">Username: {{currentUser.username}}</h3>

      <a href="/profile/{{currentUser._id}}/edit" style="width: fit-content;">EDIT<i width="16"
          style="color: blue;"></i></a>

    </div>

  </div>
</div>